{{outlet}}

        <div class="row">
        <div class="row result">
          Rapid Cash
        </div>
    <div class="container">
    <div class="account-wall">
    <form class="form-signin">

              <label class="col-sm-2 control-label" for="name">EMPLOYEE ID </label><br>
              {{input type="text"  class="form-control"  placeholder="employee ID" value=id}}<br><br><br>
                
              <label class="col-sm-2 control-label" for="name">ASSET NAME </label><br>  
              {{input type="text"  class="form-control"  placeholder="Asset Name" value=name}}<br><br><br>

              <label class="col-sm-2 control-label" for="name">ASSET VALUE </label><br>
              {{input type="text"  class="form-control"  placeholder="Asset Value" value=value}}<br><br><br>
               
              <button class="btn btn-lg btn-primary btn-block" {{action "Supply"}}> SUPPLY </button>

    </form>
    </div>
    </div>
    </div>