{{outlet}}

<div class="row">
    <div class="row result">
        Rapid Cash
    </div>
    <div class="container">
        <div class="col-md-5">
            <div class="row login_box">
                <div class="col-md-9 col-xs-9" align="center">
                    <div class="outter"><img src="assets/Image/rapid.png" class="image-circle"/></div>
                    <h1>Hi Rapid</h1>
                    <span>Admin</span>
                </div>
                {{!-- <div class="col-md-6 col-xs-6 follow line" align="center">
                    <h3>
                        125651 <br/> <span>Total Assets</span>
                    </h3>
                </div> --}}
                <div class="col-md-12 col-xs-12 follow line" align="center">
                    <h3>
                        {{message.length}} <br/> <span>Employees</span>
                    </h3>
                </div>

                <div class="col-md-12 col-xs-12 login_control">
                    <div class="control">
                        <div class="label">Employee Id</div>
                        {{input type="text" class="form-control" placeholder="Id"  value=Employee}}
                    </div>

                    <div class="control">
                        <div class="label">Assets</div>
                        {{input type="text" class="form-control" placeholder="Assets" value=Assets}}
                    </div>

                    <div align="center">
                        <div class="row">
                            <div class="col-sm-6">
                                <button class="btn btn-orange"  {{action 'Sent'}}>Sent</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-orange">Add</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-7 tableAlign">
            <div class="panel panel-default">
                <div class="panel-heading women panelTex">Employee List</div>
                <div class="panel-body">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th>Employee Id</th>
                        </tr>
                        </thead>
                        <tbody class="scroll">
                      
                        {{#each message as |row|}}
                        <tr>
                            <td>{{row}}</td>
                        </tr>
                        {{/each}}
                        </tbody>

                    </table>
                </div>
            </div>
            </div>

        </div>

    </div>